/* verhalenontwerp Hongerwinter  werkt alleen goed in safari

Met dank aan stijn werkt het uitvegen op 2 schermen (code is van de website gebruikt, aangepast en herschreven vo
voor hongerwinter. Er is een database en script gekoppeld aan het verhaal zodat het werkt.)*/
p{
  color:#fff;
  -webkit-user-select: none;
  -webkit-touch-callout:none;
  -webkit-text-size-adjust: none;
  z-index: 10;
}

button.liken{
    position: absolute;
    background-color:#ff4c4c;
    border: none;
    color:#fff;
    padding: 0.45em;
    cursor: pointer;
    line-height: 1.1em;
    z-index:3;
}
button.liken:active{
    position: absolute;
    transform: scale(0.9, 0.9);
}
img#heartje{
  float:left;
  width:1.1em;
  height:1.1em;
  margin-right: 0.45em;
  height:10%;
}

button.Add{
    position: absolute;
    background-color:#00BFFF;
    border: none;
    color: white;
    padding: 0.35em;
    cursor: pointer;
    z-index:4;
}
button.Add:active{
    position: absolute;
    transform: scale(0.9, 0.9);
}
img#toevoegen{
  float:left;
  width:1.3em;
  height:1.3em;
  margin-right: 0.35em;
}

.isLiked {
  background-color: #003082 !important;
}

@media (max-width:20em){
  p{
    font-size: 0.6em;
    line-height: 1.6em;
  }

  button.Add{
    top:12.5%
  }


  #titelhongerwinter{
    position: absolute;
    top: 30vw;
    left: -5vw;
    width:120%;
  }

  #achtergrondhongerwinter{
    display:none;
  }

  #achtergrondhongerwinter2{
    position:relative;
    display:contents;
    width:100vw;
    height:350vh;
  }

  #achtergrondhongerwinter4{
    position:relative;
    display:contents;
    width:100vw;
    height:350vh;
  }

  #hongerwinter-1{
    position: absolute;
    top: 77vw;
    left:2em;
  }

  #hongerwinter-2{
    position: absolute;
    top:147vw;
    left:5em;
    width:18em;
  }

  #hongerwinter-3{
    position: absolute;
    top: 293vw;
    left:5em;
  }

  #hongerwinter-4{
    position: absolute;
    top: 220vw;
    left:0.5em;
    width:18em;
  }

  #hongerwinter-5{
    position: absolute;
    top:390vw;
    left:1em;
    width:18em;
  }

  #hongerwinter-6{
    position: absolute;
    top: 476vw;
    width:19em;
    left:2em;
  }

  #hongerwinter-7{
    position: absolute;
    top:565vw;
    left:1em;
    width:20em;
  }

}

@media (min-width:45em){

  button.Add{
      left: 70%;
  }
  button.Liken{
      left: 55%;
  }
  #titelhongerwinter{
    position: absolute;
    top: 24vw;
    left: 50vw;
    width:100%;
    transform: translate(-50%, -50%);
  }

  #achtergrondhongerwinter2{
    display:none;
  }


  #achtergrondhongerwinter{
    display:contents;
    width:60em;
    z-index: 2;
  }

  P{
    z-index:-2;
  }


  p{
    font-size:1em;
    line-height: 2em;
    width:25em;
    color:black;
    transform: translate(-50%, -50%) rotateZ(-7deg);
  }
    #hongerwinter-1{
      position: absolute;
      top: 60vw;
      left: 30em;
      width: 35em;
    }

    #hongerwinter-2{
      position: absolute;
      top: 100vw;
      left: 75em;
    }

    #hongerwinter-3{
      position: absolute;
      top: 105vw;
      left:19em;
      width:29em;
    }

    #hongerwinter-4{
      position: absolute;
      top: 140vw;
      left: 30em;
      width: 30em;
    }

    #hongerwinter-5{
      position: absolute;
      top: 180vw;
      left: 20em;
      width: 30em;
    }

    #hongerwinter-6{
      position: absolute;
      top: 215vw;
      width: 35em;
      left: 45em;
    }

    #hongerwinter-7{
      position: absolute;
      top: 260vw;
      left: 19em;
    }
}


@media (min-width:65em){
  #titelhongerwinter{
    position: absolute;
    top: 20vw;
    left: 50vw;
    width:100%;
    transform: translate(-50%, -50%);
  }

  #achtergrondhongerwinter{
    width:60em;
  }

  p{
    font-size: 0.8em;
    line-height: 1.5em;
    width:35em;
    transform: translate(-50%, -50%) rotateZ(-7deg);
  }

    #hongerwinter-1{
      position: absolute;
      top: 50vw;
      left: 20em;
      width:35em;
    }

    #hongerwinter-2{
      position: absolute;
      top:73vw;
      left:55em;
      width:22em;
    }

    #hongerwinter-3{
      position: absolute;
      top: 115vw;
      left:20em;
    }

    #hongerwinter-4{
      position: absolute;
      top: 135vw;
      left:55em;
      width:22em;
    }

    #hongerwinter-5{
      position: absolute;
      top:175vw;
      left:22em;
    }

    #hongerwinter-6{
      position: absolute;
      top: 200vw;
      left:55em;
    }

    #hongerwinter-7{
      position: absolute;
      top: 235vw;
      left:20em;
    }

    button.liken{
        top: 10%;
        left: 90%;
        font-size: 1em;
    }
    button.Add{
        top: 9.9%;
        left: 77%;
        font-size: 1em;
    }
}
